.header-line {
    width: 100%;
    height: 30px;
    background-color: #0D326F;
}

.header-center {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.header-menu {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}

.mobile-menu {
    display: none;
}

.header-gnblist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header-gnbitem {
    height: 100%;
    font-size: 1.2rem;
    font-weight: 600;
}

.header-gnblink {
    display: flex;
    align-items: center;
    height: 100%;
}

.sublist-box {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 340px;
    background-color: #F6F7F8;
    z-index: 1;
    display: flex;
    padding: 50px 130px;
}

.sublist-box > .menu {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: #0D326F;
    color: #fff;
    font-size: 1.8rem;
}

.header-sublist {
    position: absolute;
    left: 30%;
    padding-left: 30px;
}

.header-sublist .header-subitem {
    font-weight: 400;
    color: #454545;
    padding: 10px 0;
}

@media (max-width: 1600px) {
}

@media (max-width: 1366px) {
}


@media (max-width: 1024px) {
    .header-gnbitem {
        display: none; /* 숨김 상태 */
    }

    .mobile-menu {
        display: block;
        position: absolute;
        top: 30px;
        right: 50px;
        cursor: pointer; /* 클릭 가능한 포인터 추가 */
        z-index: 2;
    }

    .mobile-menu > .bar {
        width: 30px;
        height: 3px;
        background-color: #000;
        margin: 5px 0;
    }

    .header-gnblist {
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 1;
        background-color: #fff;
    }

    .header-gnblist.show {
        display: block; /* 메뉴가 보이도록 */
    }

    .sublist-box {
        display: none !important;
    }
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
}