/* 메인슬라이드 */
.box-N2 {
    position: relative;
    width: 100%;
    height: calc(100vh - 130px);
    overflow: hidden;
}

.visual-contanier {
    position: relative;
    width: 1920px;
    width: 100%;
    height: 90vh;
}

.visual-item {
    width: 100%;
    height: 90vh;
}

.visual-item::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.visual-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visual-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.visual-title .small-txt {
   font-size: 2rem;
   padding-bottom: 30px;
}

.visual-title h2 {
    font-size: 4.5rem;
    line-height: 6rem;
    font-weight: 700;
}

.visual-banner {
    position: absolute;
    bottom: 5%;
    right: 50%;
    transform: translate(50%, -50%);
}

.banner-list {
    display: flex;
    padding: 10px;
}

.banner-list li {
    padding: 30px 60px;
    background-color: #fff;
}

.banner-list li:first-child{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.banner-list li:last-child{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.banner-list li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-icon {
    font-size: 1.6rem;
    color: #0D326F;
}

.banner-text {
    padding-top: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

.banner-list li:hover {
    background-color: #0D326F;
}

.banner-list li:hover span {
    color: #fff;
}

/* 특성화센터섹션 */
.box-N3 {
    width: 80%;
    margin: 100px auto;
}

.section1 > h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.section1 > p {
    padding : 30px 0;
    font-size: 1.2rem;
    color: #9B9B9B;
}

.tab-menu ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0;
    border-bottom: 1px solid #ddd;
    overflow-y: auto;
}

/* 스크롤바 전체 스타일 */
.tab-menu ul::-webkit-scrollbar {
    width: 6px; /* 스크롤바의 너비 */
    height: 5px;
}

/* 스크롤바 트랙(배경) 스타일 */
.tab-menu ul::-webkit-scrollbar-track {
    background: #fff; /* 배경색 */
}

/* 스크롤바 핸들(스크롤 이동하는 부분) 스타일 */
.tab-menu ul::-webkit-scrollbar-thumb {
    background:#0D326F; /* 핸들 색상 */
    border-radius: 6px; /* 핸들 모서리 둥글게 */
}

/* 스크롤바 핸들:hover 스타일 (마우스 오버 시) */
.tab-menu ul::-webkit-scrollbar-thumb:hover {
    background: #555; /* 핸들 색상 변경 */
}

.tab-menu ul li button {
    border: none;
    background-color: #fff;
    font-weight: 600;
    font-size: 1.3rem;
    color: #9B9B9B;
    cursor: pointer;
}

.center-container {
    position: relative;
    height: 60vh;
    padding-top: 100px;
}

.center {
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.tab-menu ul li.active button {
    color: #0D326F;
}

.left-box {
    width: 45%;
}

.left-box h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

.left-box > p {
    padding : 30px 0;
    font-size: 1.2rem;
    line-height: 30px;
    color: #9B9B9B;
}

.right-box {
    width: 40%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.right-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.field-box {
    padding-top: 100px;
}

.field-title {
    padding-bottom: 30px;
    color: #0D326F;
    font-size: 1.3rem;
    font-weight: 600;
}

.field-text {
    font-size: 1.2rem;
    color: #9B9B9B;
}

/* 진료과섹션 */
.box-N4 { 
    width: 80%;
    margin: 100px auto;
}

.section2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.section2 .tit > h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.section2 .tit > p {
    padding : 30px 0;
    font-size: 1.2rem;
    color: #9B9B9B;
}

.btn a {
    padding: 22px 0px;
    background-color: #0D326F;
    color: #fff;
    border-radius: 50px;
}

.btn a span {
    font-size: 1.2rem;
    padding: 0 30px;
    font-weight: 600;
}

.btn a span i {
    transition: transform 0.3s ease;
}

.btn:hover span i {
    transform: rotate(180deg);
}

.cont ul {
    width: 100%;
    display: flex;
    padding-top: 100px;
    padding-bottom: 50px;
    overflow-y: auto;
}

/* 스크롤바 전체 스타일 */
.cont ul::-webkit-scrollbar {
    width: 6px; /* 스크롤바의 너비 */
    height: 5px;
}

/* 스크롤바 트랙(배경) 스타일 */
.cont ul::-webkit-scrollbar-track {
    background: #fff; /* 배경색 */
}

/* 스크롤바 핸들(스크롤 이동하는 부분) 스타일 */
.cont ul::-webkit-scrollbar-thumb {
    background:#0D326F; /* 핸들 색상 */
    border-radius: 6px; /* 핸들 모서리 둥글게 */
}

/* 스크롤바 핸들:hover 스타일 (마우스 오버 시) */
.cont ul::-webkit-scrollbar-thumb:hover {
    background: #555; /* 핸들 색상 변경 */
}

.cont ul li {
    flex: 1;
    padding: 40px;
    margin-left: 30px;
    border-radius: 10px;
    background-color: #f6f7f8;
}

.cont ul li:first-child{
    margin-left: 0;
}

.cont ul li a {
    display: block;
    width: 100%;
}

.cont ul li .tit {
    padding-bottom: 30px;
    font-size: 1.6rem;
    font-weight: 600;
}

.cont ul li .goto {
    color: #9B9B9B;
}

.cont ul li .icon {
    padding-top: 100px;
    text-align: right;
    font-size: 4rem;
}

.cont ul li:hover {
    background-color: #0D326F;
    box-shadow: 0 5px 2rem 0 rgba(13, 50, 111, 0.15);
}

.cont ul li:hover a {
    color: #fff;
}

.box-N5 {
    width: 80%;
    margin: 100px auto;
}

.os_mac.root_daum_roughmap {
    width: 100%;
}

.root_daum_roughmap .wrap_controllers {
    display: none;
}

.root_daum_roughmap .wrap_map {
    height: 600px !important;
}

@media (max-width: 1200px) {
    .box-N3, .box-N4, .box-N5 {
        width: 90%;
    }

    .visual-title {
        top: 45%;
    }
    
    .visual-title .small-txt {
        font-size: 1.5rem;
    }

    .visual-title h2 {
        font-size: 4rem;
        line-height: 5rem;
    }

    .visual-banner {
        position: absolute;
        bottom: 50%;
        right: 0;
        transform: translate(0%, 50%);
    }

    .banner-list {
        padding: 0;
        flex-direction: column;
    }

    .banner-list li {
        padding: 30px;
    }

    .banner-list li:first-child {
        border-bottom-left-radius: 0px;
    }

    .banner-list li:last-child {
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .left-box {
        width: 40%;
    }

    .right-box {
        width: 50%;
    }

    .field-box {
        padding-top: 0px;
    }

    .center-container {
        height: 40vh;
        padding-top: 80px;
    }

    .cont ul li {
        margin-left: 20px;
    }

    .root_daum_roughmap {
        width: 100% !important;
    }

    .root_daum_roughmap .wrap_map {
        height: 400px !important;
    }
}

@media (max-width: 1024px) {

}

@media (max-width: 992px) {
    .tab-menu ul li {
        padding-right: 50px;
    }
}

@media (max-width: 767px) {
    .mobile-menu {
        right: 20px;
    }

    .center {
        flex-direction: column;
    }

    .center-container {
        height: 70vh;
    }

    .left-box {
        width: 100%;
        padding-bottom: 50px;
    }

    .right-box {
        margin: 0 auto;
        width: 80%;
    }

    .visual-title .small-txt {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .visual-title h2 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .banner-list li {
        padding: 12px;
    }

    .visual-banner {
        bottom: 55%;
    }

    .banner-icon {
        font-size: 1.2rem;
    }

    .banner-text {
        padding-top: 10px;
        font-size: 0.8rem;
    }

    .center-container {
        height: 85vh;
    }

    .section2 {
        flex-direction: column;
        align-items: flex-start;
    }

    .cont ul {
        padding-top: 50px;
    }
}
