.contact {
  width: 100%;
}

.contact > h2 {
  display: flex;
  align-items: center;
  font-size: 48px;
  font-family: "Montserrat";
  color: #fff;
  margin-bottom: 70px;
}

.contact > h2::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  margin-left: 30px;
  background-color:#fff
}

.contact_box {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.img_box {
  position: relative;
  width: calc(100% / 2 - 30px);
  height: 0;
  padding-top: 60%;
  background-color: #ddd;
  overflow: hidden;
}

.img_box img {
  position: absolute;
  top:0;
  left: 0;
  max-width: 100%;
  height: auto;
}

.contact ul {
  width: calc(100% / 2 - 30px);
  margin-left: 80px;
  font-size: 20px;
  font-weight: 800;
}

.contact ul li {
  margin-bottom: 30px;
  border-bottom: 1px dashed #ddd;
}

.contact ul li dt {
  display: flex;
  align-items: center;
}

.contact ul li dt span {
  margin-right: 10px;
}

.contact ul li dd {
  margin-bottom: 10px;
  padding: 20px 0;
  font-size: 18px;
  font-weight: 500;
  color :#fff;
}

.contact ul li dd a {
  margin-bottom: 10px;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 14px;
  color: #454545;
  background-color: #f0f0f0;
}

.contact ul li dd a:hover {
  background-color: #39d9c8;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 900px){
  .contact > h2 {
    font-size: 40px;
  }
  
  .contact ul {
    margin-left: 50px;
    font-size: 18px;
  }

  .contact ul li {
    margin-bottom: 20px;
  }

  .contact ul li dd {
    padding: 15px 0;
  }

  .contact ul li dd a {
    padding: 8px 20px;
    margin: 15px 0;
    font-size: 12px;
  }
}

@media (max-width: 600px){
  .contact > h2 {
    font-size: 36px;
    margin-bottom: 50px;
  }

  .contact_box {
    display: block;
  }

  .img_box {
    width: 100%;
    padding-top: 100%;
  }
  .contact ul {
    width: 100%;
    margin: 30px 0;
  }
}

@media (max-width: 320px){
  .contact > h2 {
    font-size: 30px;
  }
}