.about {
  padding: 50px;
  border-radius: 20px;
  background-color: #fff;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.proimg {
  width: 180px;
  height: 180px;
  padding: 20px;
  border-radius: 50%;
  background-color: #39d9c8;
}

.textbox > h2{
  display: flex;
  flex-basis: 100%;
  align-items: center;
  font-size: 2em;
  font-family: "Rajdhani";
  font-weight: 700;
  color:#333;
}

.textbox > h2::after{
  content: "";
  flex-grow:1;
  height: 1px;
  margin: 0 16px;
  background-color: #ddd;
}

.textbox > p {
  margin-top: 20px;
  line-height: 26px;
  color : #454545;
}


.intro {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.intro li {
  padding: 20px;
  border-radius: 50px;
  background-color: #f0f0f0;
  font-weight: 600;
  color: #333;
}

.intro li:hover {
  color:#fff;
  background-color: #39d9c8;
  cursor: pointer;
}

