.about {
  padding: 50px;
  border-radius: 20px;
  background-color: rgb(255,255,255);
}

.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.proimg {
  width: 180px;
  height: 180px;
  padding: 20px;
  border-radius: 50%;
  background-color: rgb(57,217,200);
}

.textbox > h2{
  display: flex;
  flex-basis: 100%;
  align-items: center;
  font-size: 2rem;
  font-family: "Rajdhani";
  font-weight: 700;
  color:rgb(51,51,51);
}

.textbox > h2::after{
  content: "";
  flex-grow:1;
  height: 1px;
  margin-left: 30px;
  background-color: rgb(221,221,221);
}

.textbox > p {
  margin-top: 20px;
  line-height: 26px;
}


.intro {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.intro > li {
  padding: 20px 30px;
  border-radius: 50px;
  background-color: rgb(240,240,240);
  font-size: 14px;
  font-weight: 600;
  color: rgb(80,80,80);
}

.intro > li:hover {
  color:rgb(255,255,255);
  background-color: rgb(57,217,200);
}

