.list {
  width:calc(33.333% - 30px);
  border-radius: 10px;
  background-color: #ddd;
}

.list > .list_img {
  position: relative;
  width: 100%;
  padding-bottom: 60%;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.list > .list_img img {
  position: absolute;
  top:50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50% , -50%);
  object-fit: cover;
}

.list > p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  color: #333;
}

.list > p span {
  width: 30px;
  height: 30px;
  padding: 5px;
  font-size: 14px;
  background-color: #333;
  border-radius: 50px;
  text-align: center;
  line-height: 25px;
}

.list > p span:hover {
  transform: rotate(30deg);
  background-color: #39d9c8;
  cursor: pointer;
}

@media (max-width: 900px){
  .list {
    width:calc(50% - 30px);
  }
}

@media (max-width: 600px){
  .list {
    width: 100%;
  }

  .list > p {
    padding: 10px 12px;
    font-size: 16px;;
  }
}