.list {
  width:calc(33.333% - 30px);
  border-radius: 10px;
  background-color: #ddd;
}

.list > .list_img {
  position: relative;
  width: 100%;
  padding-bottom: 60%;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.list > .list_img img {
  position: absolute;
  top:50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50% , -50%);
  object-fit: cover;
}

.list > .list_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
}

.list > .list_title > p {
  width: 280px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 22px 0px;
  font-size: 20px;
  font-weight: 700;
  color: #333;
}

.list > .list_title > button {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  line-height: 35px;
  color: #fff;
  background-color: #333;
}

.list > p span:hover {
  transform: rotate(30deg);
  background-color: #39d9c8;
  cursor: pointer;
}

@media (max-width: 1200px){
  .list > .list_title > p {
    width: 200px;
  }
}

@media (max-width: 900px){
  .list {
    width:calc(50% - 23px);
  }

  .list > .list_title > p {
    width: 240px;
  }
}

@media (max-width: 600px){
  .list {
    width: 100%;
  }
}