.wrap {
  position: absolute;
  top:100px;
  left: 36px;
  width: 100%;
  margin-top: 50px;
  padding-bottom: 50px;
}

.projects {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.projects > h2 {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-family: "Montserrat";
  color: rgb(255,255,255);
  margin-bottom: 70px;
}

.projects > h2::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  margin-left: 30px;
  background-color: rgb(255,255,255);
}

.add {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 10px 16px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.add:hover {
  background-color: rgb(57,217,200);
  color:rgb(255,255,255);
}

.projects > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 45px;
}


