.projects {
  width: 100%;
  position: relative;
}

.projects > h2 {
  display: flex;
  align-items: center;
  font-size: 48px;
  font-family: "Montserrat";
  color: #fff;
  margin-bottom: 70px;
}

.projects > h2::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  margin-left: 30px;
  background-color: #fff;
}

.add {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 10px 16px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.add:hover {
  background-color: #39d9c8;
  color: #fff;
}

.projects > .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 45px;
}

@media (max-width: 900px){
  .projects > h2 {
    font-size: 40px;
  }
}

@media (max-width: 600px){
  .projects > h2 {
    font-size: 36px;
  }
}

@media (max-width: 320px){
  .projects > h2 {
    font-size: 30px;
  }
}


