.intro {
  position: absolute;
  top:50%;
  left: 130px;
}

.intro > h1 {
  margin-bottom: 20px;
  font-family: 'Montserrat';
  font-size: 4em;
}

.intro >p {
  color: rgb(255,255,255);
  font-size: 18px;
}