.intro {
  position: fixed;
  top:48%;
  left: 140px;
  width: 100%;
}

.intro > h1 {
  margin-bottom: 20px;
  font-family: 'Montserrat';
  font-size: 64px;
}

.intro > p {
  color: #fff;
  font-size: 18px;
}

.resumebtn {
  width: 160px;
  margin-top: 30px;
}

.resumebtn a {
  display: block;
  padding: 12px 40px;
  border: 1px solid none;
  border-radius: 50px;
  background-color: #fff;
  text-align: center;
  color: #454545;
  font-size: 16px;
  font-weight: 700;
}

.resumebtn:hover a{
  background-color: #39d9c8;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 900px){
  .intro > h1 {
    font-size: 50px;
  }
}

@media (max-width: 600px){
  .intro {
    left: 0px;
    text-align: center;
  }

  .intro > h1 {
    font-size: 30px;
  }

  .intro > p {
    font-size: 16px;
  }

  .resumebtn {
    margin: 0 auto;
    padding-top: 30px;
  }
}

@media (max-width: 320px){
  .intro > h1 {
    font-size: 26px;
  }
  
  .intro > p {
    font-size: 12px;
  }
}