.content-wrapper .content .container-fluid {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-right: auto;
    margin-left: auto;
}

.content-wrapper .content .container-fluid h1 {
    padding: 30px 0;
    font-size: 1.6rem;
    font-weight: 600;
    color: #5a5c69;
}

.info-box {
    width: 100%;
    border:1px solid #e3e6f0;
}

.top-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e3e6f0;
}

.top-box p {
    padding: 20px;
    color: #0746AD;
    font-weight: 800;
    background-color: #f8f9fc;
}

.set-info {
    background-color: #fff;
    padding: 20px;
}

.table-bordered {
    width: 100%;
}

.table-bordered thead tr {
    background-color: #f2f4f8;
}

.table-bordered thead tr th {
    font-weight: 600;
    color: #5a5c69;
}

.table-bordered tbody tr:hover {
    background-color: rgba(235, 237, 244, 0.2);
}

.table-bordered th, .table-bordered td {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #e3e6f0;
    font-weight: 500;
    color: #858796;
}

.table-bordered td a {
    padding: 0.5rem 1rem;
    color: #fff;
}

.table-bordered td .edit-btn {
    background-color: #fb9e00;
}

.table-bordered td .delete-btn {
    background-color: #fb5a00;
}

.page-nation {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.page-nation ul {
    display: flex;
    align-items: center;
    border: 1px solid #e3e6f0;
    border-radius: 5px;
}

.page-nation ul li {
    padding: 0.5rem 1rem;
    border-left: 1px solid #e3e6f0;
}

.page-nation ul li:nth-child(1) {
    border-left: none;
}

.page-nation ul .active {
    background-color: #e3e6f0;
}