.content-wrapper .content .container-fluid {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-right: auto;
    margin-left: auto;
}

.content-wrapper .content .container-fluid h1 {
    padding: 30px 0;
    font-size: 1.6rem;
    font-weight: 600;
    color: #5a5c69;
}

.info-box {
    width: 100%;
    border:1px solid #e3e6f0;
}

.top-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e3e6f0;
}

.top-box p {
    padding: 20px;
    color: #0746AD;
    font-weight: 800;
    background-color: #f8f9fc;
}

.set-info {
    background-color: #fff;
    padding: 20px;
}

.table-bordered {
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 30px;
}

.table-bordered th, .table-bordered td {
    padding: 1.2rem;
    border: 1px solid #e3e6f0;
    font-weight: 600;
}

.table-bordered td input {
    width: 100%;
    border: 1px solid #e3e6f0;
    padding: 1rem;
}

.btn-box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.btn-box a {
    padding: 20px 50px;
    font-weight: 600;
    color: #fff;
}

.prev-btn {
    background-color: #3a4651;
    margin-right: 10px;
}

.submit-btn {
    background-color: #d23030;
}

.toastui-editor-mode-switch {
    display: none !important;
}