@import url('https://cdn.jsdelivr.net/gh/openfieldth/temha-icon/v1.2.0/Temha-Icon.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	word-break: keep-all;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	display: inline-block;
	color: var(--link-color); text-decoration: none;
}
a:hover {
	color: var(--link-hover-color);
}
a:not([href]):not([class]),
a:not([href]):not([class]):hover { color: inherit; text-decoration: none; }

*,
*::before,
*::after { margin: 0; padding: 0; box-sizing: border-box; }

:root {
	/* --primary: #0d6efd; */
	--primary: #C6A582;
	--secondary: #6c757d;
	--success: #198754;
	--info: #0dcaf0;
	--warning: #ffc107;
	--danger: #dc3545;
	--black: #000;
	--white: #fff;
	--primary-rgb: 197, 165, 130;
	--secondary-rgb: 108, 117, 125;
	--success-rgb: 25, 135, 84;
	--info-rgb: 13, 202, 240;
	--warning-rgb: 255, 193, 7;
	--danger-rgb: 220, 53, 69;
	--black-rgb: 0, 0, 0;
	--white-rgb: 255, 255, 255;
	--body-bg: #fff;
	--body-color: var(--text-color1);
	--con-bg:#F7F8FB;
	--border-width: 1px;
	--border-style: solid;
	--border-color: var(--line-color1);
	--link-color: var(--text-color1);
	--link-hover-color: var(--text-color1);
	--code-color: #d63384;
	--highlight-bg: #fff3cd;
	--letter-spacing: -0.025rem;
	--text-color1: #111111;
	--text-color2: #505050;
	--text-color3: #767676;
	--text-color4: #999999;
	--text-color5: #ffffff;
	--text-color6:#C6A582;
	--text-color7:#666666;
	--text-color8:#dddddd;
	--text-color9:#bbbbbb;
	--bg-color: #f7f7fb;
	--bg-color2: #fafafa;
	--line-color1: #e5e5e5;
	--line-color2: #d4d4d8;
	--line-color3: #111111;
	--line-color4: #dddddd;
	--ff: "Roboto", "Noto Sans KR", sans-serif;
	--ff-ko: "Noto Sans KR", sans-serif;
	--ff-en: "Roboto", sans-serif;
	--ff-mo: monospace;
	--ff-ico: "Temha-Icon";
	--ff-po: 'Poppins', sans-serif;
	--fs-h1: 4.8rem;
	--fs-h2: 3.2rem;
	--fs-h3: 2.8rem;
	--fs-h4: 2.4rem;
	--fs-h5: 2rem;
	--fs-h6: 1.8rem;
	--fs-p1: 1.2rem;
	--fs-p2: 1.4rem;
	--fs-p3: 1.6rem;
	--lh-h1: 6rem;
	--lh-h2: 4.6rem;
	--lh-h3: 3.8rem;
	--lh-h4: 3.4rem;
	--lh-h5: 3rem;
	--lh-h6: 2.8rem;
	--lh-p1: 2.6rem;
	--lh-p2: 2.4rem;
	--lh-p3: 1.8rem;
	--ht-xl: 6rem;
	--ht-lg: 5.6rem;
	--ht-md: 4.8rem;
	--ht-sm: 4rem;
	--ht-xs: 3.2rem;
	--lh-xl: 7.8rem;
	--lh-lg: 7rem;
	--lh-md:4rem;
	--vu-s-tit:2rem;
  }