.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.labelBox {
  display: flex;
  align-items: center;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  border: 1px solid #ddd;
  border-radius: 100%;
}

.textBox {
  padding: 10px 150px 10px 10px;
}

.btn {
  display: flex;
}

.btn button {
  width: 100px;
  margin-left: 10px;
  padding: 10px;
}

.btn .icon {
  width: 50px;
}
