.wrap {
  position: relative;
  display: flex;
  width: 100%;
  z-index: 2;
}

.left_menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80px;
  height: 100vh;
  border-right: 1px solid #505050;
}

.left_menu h2 {
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.4);
}

.hide_menu {
  width: 30px;
  height: 3px;
  margin: 5px;
  transform: translateX(-50%) rotate(-90deg);
  margin-left: 42px;
  background-color: #fff;
}

.hide_menu::before, .hide_menu::after{
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #fff;
}

.hide_menu::before {
  bottom: 0.4rem;
}

.hide_menu::after {
  top: 0.4rem;
}

.left_menu p {
  transform: rotate(-90deg);
  width: 140px;
  color:#fff
}

.right_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-left: 80px;
  border-bottom: 1px solid #505050;
}

.right_menu h1 {
  padding-left: 50px;
  font-size: 30px;
  font-family: 'Rajdhani';
  font-weight: 800;
}

.menu {
  display: flex;
  align-items: center;
  padding-right: 100px;
  font-size: 18px;
  font-family: 'Rajdhani';
  font-weight: 500;
}

.menu :hover {
  font-weight: bold;
}

.menu li {
  padding-left: 50px;
}

.menu a {
  padding: 10px;
} 