.wrap {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-left: 80px;
  padding-top:100px;
  overflow: hidden;
  touch-action: none;
}

.content {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 0;
}

/* max-width 기준 */
@media (max-width: 1200px) {
  .wrap {
    padding-left: 60px;
  }

  .content {
    padding: 70px 50px 70px 60px;
  }
}

/* 테블릿 기준 */
@media (max-width: 900px){
  .content {
    padding: 60px 40px 60px 60px;
  }
}

/* 모바일 기준 */
@media (max-width: 600px){
  .wrap {
    padding-left: 0px;
  }

  .content {
    padding: 40px 30px;
  }
}

/* 폴드전면 */
@media (max-width: 320px){
}