.wrap{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-left: 80px;
  padding-top:100px;
}

.content {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 50px;

  @media (max-width: 1200px) {
    padding:100px 50px 50px;
  }
}